:root {
  font-size: 12px; }

@media (min-width: 800px) and (max-width: 1400px) {
  :root {
    font-size: calc( 12px + (18 - 12) * ( (100vw - 800px) / ( 1400 - 800))); } }
@media (min-width: 1400px) {
  :root {
    font-size: 18px; } }
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #3671AA; }
  body:before {
    display: block;
    content: '';
    background-image: url("/homepage/images/bg.png");
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.2; }

section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.band {
  border: 40px solid #fff;
  color: #fff;
  position: fixed;
  border-radius: 50px;
  border-radius: 48px;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 3;
  pointer-events: none; }
  @media (max-width: 767px) {
    .band {
      border-radius: 50px 50px 0 0;
      border-bottom: none;
      top: -19px;
      left: -19px;
      right: -19px;
      bottom: -19px;
      z-index: 2;
      overflow: visible; } }
  @media (max-width: 767px) {
    .band:before {
      content: '';
      display: block;
      top: 0;
      height: 58px;
      left: 0;
      right: 0;
      background: #fff; } }

.structure {
  position: relative; }
  .structure .logo {
    background: #fff;
    position: fixed;
    padding: 10px;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 0 0 8px 0;
    overflow: visible; }
    @media (max-width: 767px) {
      .structure .logo {
        padding: 10px 10px 9px 0; } }
    @media (max-width: 767px) {
      .structure .logo img {
        width: 200px; } }
    .structure .logo:before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, #fff 70%, #fff 100%);
      right: -6px;
      width: 6px;
      height: 6px; }
    .structure .logo:after {
      content: '';
      position: absolute;
      bottom: -6px;
      display: block;
      background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, #fff 70%, #fff 100%);
      left: 0;
      width: 6px;
      height: 6px; }
    .structure .logo img {
      margin-right: 20px;
      margin-left: 20px;
      max-width: 260px; }

.hero {
  height: 140px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hero h1 {
    color: #efefef;
    font-weight: 500;
    margin: 0;
    line-height: 0.75;
    font-size: 5vw; }

.title {
  background: #efefef;
  padding: 20px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .title {
      display: none; } }
  @media (max-width: 767px) {
    .title {
      display: none; } }
  .title span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
    background: #e3e3e3; }
  .title h2 {
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 2px; }

.menu {
  background: #efefef;
  padding-top: 40px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .menu {
      display: none; } }
  @media (max-width: 767px) {
    .menu {
      display: none; } }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .menu ul li {
      padding: 1vw 2vw;
      background: #bbb;
      color: #fff;
      margin: 0 2px;
      cursor: pointer; }
      .menu ul li a {
        color: #fff;
        text-decoration: none; }
      .menu ul li:hover {
        background: #005691; }
      .menu ul li.focus {
        background: #005691; }

.grid {
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 200px; }

.card {
  background: #fff;
  width: 18%;
  margin: 1%;
  font-size: 150%;
  overflow: hidden;
  position: relative;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      width: 48%; } }
  @media (max-width: 767px) {
    .card {
      width: 98%; } }
  .card img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    display: block;
    -webkit-transition: 200ms all;
    transition: 200ms all; }
  .card .label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #444;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 60%;
    z-index: 2;
    -webkit-transition: 200ms all;
    transition: 200ms all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    pointer-events: none;
    padding: 1vw; }
    .card .label a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      padding: 0 0 0 0.8vw;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      pointer-events: auto; }
    .card .label img {
      width: 1.5vw; }
  .card .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 86, 145, 0.8);
    z-index: 1;
    -webkit-transition: 200ms all;
    transition: 200ms all;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff; }
    .card .overlay p {
      -webkit-transform: scale(0.92);
              transform: scale(0.92);
      -webkit-transition: 200ms all;
      transition: 200ms all;
      font-weight: 300; }
  .card:hover .overlay {
    opacity: 1; }
    .card:hover .overlay p {
      -webkit-transform: scale(1);
              transform: scale(1); }
  .card:hover .label {
    background: #0090d0; }
  .card:hover img {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); 
            filter: none; }

.base-shade {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  height: 1px;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 20px #333;
          box-shadow: 0 0 20px #333; }

.hidden {
  display: none; }

.active {
  display: block; }

.disabled {
    filter: grayscale(100%);
}